<div class='row'>
  <div class='span8 well'>

    <%= render post.categories %>

    <h4><%= link_to(post.title, welformatted_url(post.url)) %></h4>
    <p><%= post.description %></p>
    <p>
      <span class='quiet'>Post created by: <%= post.creator.username %> <small><%= formatted_datetime(post.created_at) %></small></span>
      <span>
        <%= link_to(pluralize(post.comments.size, 'comment'),post_path(post)) %>
      </span>
    </p>
  </div>
</div>